@font-face {
	font-family: 'RobotoSlabLight';
	src: url('/fonts/RobotoSlabLight.woff2') format('woff2'),
		url('/fonts/RobotoSlabLight.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Intro';
	src: url('/fonts/IntroRegular.woff2') format('woff2'),
		url('/fonts/IntroRegular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaLight';
	src: url('/fonts/HelveticaLight.woff2') format('woff2'),
		url('/fonts/HelveticaLight.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}