/*=====header======*/
.header {
	padding-top: 50px;
	padding-bottom: 50px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__cart {
	position: relative;
	padding: 12px 16px;
	padding-right: 33px;
	display: inline-block;
	font-size: 13px;
	line-height: 13px;
}

.header__cart::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 13px;
	width: 14px;
	height: 14px;
	background-image: url(../img/cart.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateY(-50%);
}