@import "_fonts.css";

:root {
	--color-light: #fff;
	--color-accent: #5222D0;
	--color-coral: #EC615B;
	--color-hover: #2a106a;
}

/*=====global settings=======*/
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'RobotoSlabLight', serif;
	margin: 0;
	color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

/*=======overall settings=======*/
.site-container {
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1315px;
	padding: 0 15px;
	margin: 0 auto;
}

.btn-reset {
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn {
	font-family: 'Intro';
	font-weight: 700;
	background-color: var(--color-accent);
	border-radius: 100px;
	text-transform: uppercase;
	color: var(--color-light);
	transition: background-color 0.3s ease-in-out;
}

.btn:hover {
	background-color: var(--color-hover);
}

.title {
	font-family: 'Intro';
	font-weight: 700;
	font-size: 60px;
	line-height: 120%;
	text-transform: uppercase;
}

.descr {
	font-family: 'RobotoSlabLight';
	font-size: 20px;
	line-height: 160%;
}

/*=====header======*/
.header {
	padding-top: 50px;
	padding-bottom: 50px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__cart {
	position: relative;
	padding: 12px 16px;
	padding-right: 33px;
	display: inline-block;
	font-size: 13px;
	line-height: 13px;
}

.header__cart::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 13px;
	width: 14px;
	height: 14px;
	background-image: url(../img/cart.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateY(-50%);
}

/*=======main========*/

.hero {
	position: relative;
	padding-top: 20px;
	padding-bottom: 150px;
}

.hero__container {
	max-width: 530px;
}

.hero__title {
	margin-bottom: 10px;
}

.hero__descr {
	margin-bottom: 30px;
}

.btn__hero {
	position: relative;
	padding: 25px 33px;
	padding-right: 70px;
	font-size: 35px;
	line-height: 35px;
}

.btn__hero::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 13px;
	width: 41px;
	height: 28px;
	background-image: url(../img/credit.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateY(-50%);
}

.hero__img {
	position: absolute;
	top: 0;
	right: 0;
}

/*=======foooter========*/
.footer {
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer__list {
	display: flex;
	align-items: center;
}

.footer__item:not(:last-child) {
	margin-right: 34px;
}

.footer__link {
	font-family: 'RobotoSlabLight';
	font-size: 20px;
	line-height: 160%;
	color: var(--color-accent);
	transition: color 0.3s ease-in-out;
}

.footer__link:hover {
	color: var(--color-hover);
}